<div class="mise_en_forme_about">
    Formations :</br></br> Début en {{modele.formation[0].debut}} et fin en {{modele.formation[0].fin}}
    dans l'établissement : {{modele.formation[0].etablissement}}</br>
    Diplôme obtenu : {{modele.formation[0].diplome}}</br></br>

  Début en {{modele.formation[1].debut}} et fin en {{modele.formation[1].fin}}
  dans l'établissement : {{modele.formation[1].etablissement}}</br>
  Diplôme obtenu : {{modele.formation[1].diplome}}</br></br>

  Début en {{modele.formation[2].debut}} et fin en {{modele.formation[2].fin}}
  dans l'établissement : {{modele.formation[2].etablissement}}</br>
  Diplôme obtenu : {{modele.formation[2].diplome}}</br></br>


  </br></br>
  Experiences :
  </br></br>

  Type d'expérience : {{modele.experience[0].type}} effectué(e) en {{modele.experience[0].annee}}
  pour une durée de {{modele.experience[0].duree}} mois</br>
  Entreprise/établissement : {{modele.experience[0].entreprise}}</br>
  Ma mission était : {{modele.experience[0].mission}}


</div>
